* {
  margin: 0%;
  padding: 0%;
}

.navbar {
  height: 70px;
  background-color: #359c0f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.link-navbar {
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  font-size: large;
}

.card_container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.img-card {
  height: 180px;
  width: 250px;
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.container-list {
  margin: 3px;
}
.tex-img {
  width: 250px;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
.container-heart {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.container-title {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: x-large;
  width: 100%;
  color: #5dbb3b;
}
